body {
	display: grid;
	min-height: 100dvh;
	grid-template-rows: auto 1fr auto;

}


.tittle-form {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}


form>div {
	display: grid;
	margin: 5px;
}


