body {
	display: grid;
	min-height: 100dvh;
	grid-template-rows: auto 1fr auto;
}

main {
	position: relative;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}